@model Nager.AmazonProductAdvertising.Model.AmazonItemResponse
@{
    ViewBag.Title = "Lookup";
}

<h2>Lookup</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="search">Lookup</label>
                <input type="text" class="form-control" id="lookup" name="articleNumber" placeholder="articleNumber">
            </div>
            <button type="submit" class="btn btn-primary">Lookup</button>
        </form>
    </div>
</div>

<div class="row">
    @if (Model != null)
    {
        if (Model.Items.Request.Errors?.Length > 0)
        {
            foreach (var error in Model.Items.Request.Errors)
            {
                <div class="alert alert-danger" role="alert"><strong>@error.Code</strong><br />@error.Message</div>
            }
        }

        if (Model.Items.Item != null)
        {
            foreach (var item in Model.Items.Item)
            {
                @Html.Partial("_ItemOverview", item)
            }
        }
    }
</div>