@model Nager.AmazonProductAdvertising.Model.AmazonItemResponse
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Search", "Amazon", FormMethod.Get, new { Class = "form-inline" }))
        {
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" id="search" name="search" placeholder="search" value="@Model.OperationRequest.Arguments.Where(o=>o.Name == "Keywords").Select(o=>o.Value).FirstOrDefault()">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>
</div>

<div class="row">
    @if (Model != null)
    {
        if (Model.Items != null && Model.Items.Item != null)
        {
            foreach (var item in Model.Items.Item)
            {
                @Html.Partial("_ItemOverview", item)
            }
        }
    }
</div>
