@model Nager.AmazonProductAdvertising.Model.GetItemsResponse
@{
    ViewBag.Title = "Lookup";
}

<h2>Lookup</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="search">Lookup</label>
                <input type="text" class="form-control" id="lookup" name="articleNumber" placeholder="articleNumber">
            </div>
            <button type="submit" class="btn btn-primary">Lookup</button>
        </form>
    </div>
</div>

<div class="row">
    @if (Model != null)
    {
        if (Model?.ItemsResult?.Items != null)
        {
            foreach (var item in Model.ItemsResult.Items)
            {
                @Html.Partial("_ItemOverview", item)
            }
        }
    }
</div>