@model Nager.AmazonProductAdvertising.Model.SearchItemResponse
@{
    ViewBag.Title = $"{ViewBag.Search} search";
}

<h2>Search</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Search", "Amazon", FormMethod.Get, new { Class = "form-inline" }))
        {
            <div class="form-group">
                <label for="search">Search</label>
                <input type="text" class="form-control" id="search" name="search" placeholder="search" value="@ViewBag.Search">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>
</div>

<div class="row">
    @if (Model != null)
    {
        if (Model.SearchResult != null)
        {
            foreach (var item in Model.SearchResult.Items)
            {
                @Html.Partial("_ItemOverview", item)
            }
        }
    }
</div>
