@{
    ViewBag.Title = "Home";
    ViewBag.MetaDescription = $"Nager.AmazonProductAdvertising - Amazon Product Advertising API Demo Shop";
}

<h2>Overview</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using (Html.BeginForm("Search", "Amazon", FormMethod.Get, new { Class = "form-inline" }))
        {
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="search" placeholder="search">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>
</div>

<div class="product-groups">
    <div class="col-xs-12 col-sm-6 col-md-4 list-group">
        <a class="list-group-item" href="/Amazon/Search/?search=iPhone"><i class="fa fa-mobile-phone fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Cell phone</a>
        <a class="list-group-item" href="/Amazon/Search/?search=Adidas"><i class="fa fa-male fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Sport</a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 list-group">
        <a class="list-group-item" href="/Amazon/Search/?search=diamond+ring"><i class="fa fa-diamond fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Diamond</a>
        <a class="list-group-item" href="/Amazon/Search/?search=Coffee"><i class="fa fa-coffee fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Coffee</a>
    </div>
</div>