body {
    background-color: #f4f5f7;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set Carousel images center */
.carousel-inner > .item > img {
    margin: 0 auto;
}

.product-groups a {
    display: flex;
}

.product-groups a span {
    padding-left: 8px;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.navbar-nav li {
    background-color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    border-right: 1px solid #222;
}

.navbar-nav li:hover {
    background-color: #222;
}

h1, h2, h3, h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.wf-loading body {
    visibility: hidden;
}

.btn {
    color: #eee;
    background-color: #333;
    border: 1px solid #222;
    border-left: 10px solid #222;
    border-radius: 0px;
}

.btn:hover {
    background-color: #333;
    border: 1px solid #222;
    border-left: 10px solid #141314;
}

.shoparticle .row {
    background-color: #ffffff;
    border: 5px solid #ffffff;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    color: #333333;
    text-align: center;
    height: 280px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    border: 5px solid #008CBA;
    border-radius: 10px;
    background-color: #008CBA;
}

.overlay .text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.shoparticle .row:hover .overlay {
    opacity: 0.9;
    cursor: pointer;
}

.shoparticle .price {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.shoparticle .caption {
    font-size: 10px;
}


footer {
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
}

footer a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-col {
    text-align: left;
}

.fa-space {
    padding-right: 10px;
}