@{
    ViewBag.Title = "Home";
}

<h2>Features</h2>
<ul class="list-group">
    <li class="list-group-item">ItemLookup</li>
    <li class="list-group-item">ItemSeach</li>
    <li class="list-group-item">BrowseNodeLookup</li>
    <li class="list-group-item">Async support</li>
</ul>