@{
    ViewBag.Title = "Home";
}

<h2>Search</h2>

<div class="panel panel-default">
    <div class="panel-body">
        @using(Html.BeginForm("Search", "Amazon", FormMethod.Get, new { Class = "form-inline" }))
        {
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="search" placeholder="search">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        }
    </div>
</div>

<div class="product-groups">
    <div class="col-xs-6 list-group">
        <a class="list-group-item" href="/Amazon/Lookups/?articleNumbers=B00P2KDTEC&articleNumbers=B00AFRXKFU&articleNumbers=B00YUY20BE&articleNumbers=B00ALNJN72&articleNumbers=B01DNUJA1S&articleNumbers=B01EHVHPSM&articleNumbers=B0108C6ZXU&articleNumbers=B01533U5X0"><i class="fa fa-wifi fa-fw fa-5x" aria-hidden="true"></i>&nbsp; <span><h4>ESP8266</h4>Ultra-low-Power-32-Bit-Mikrocontroller with WLAN</span></a>
    </div>
    <div class="col-xs-6 list-group">
        <a class="list-group-item" href="/Amazon/Lookups/?articleNumbers=B01FU5Z6JO&articleNumbers=B01BHIBGBA&articleNumbers=B015OHXQAO&articleNumbers=B0157G4GEM&articleNumbers=B01N9GX59J&articleNumbers=B01MRFE0HZ"><i class="fa fa-bicycle fa-fw fa-5x" aria-hidden="true"></i>&nbsp; <span><h4>E-Bike</h4>Battery powered bike</span></a>
    </div>
    <div class="col-xs-6 list-group">
        <a class="list-group-item" href="/Amazon/Search/?search=car"><i class="fa fa-car fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Car</a>
        <a class="list-group-item" href="/Amazon/Search/?search=bike"><i class="fa fa-bicycle fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Bike</a>
    </div>
    <div class="col-xs-6 list-group">
        <a class="list-group-item" href="/Amazon/Search/?search=diamond"><i class="fa fa-diamond fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Diamond</a>
        <a class="list-group-item" href="/Amazon/Search/?search=coffee"><i class="fa fa-coffee fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Coffee</a>
    </div>
    <div class="col-xs-6 list-group">
        <a class="list-group-item" href="/Amazon/Search/?search=battery"><i class="fa fa-battery-3 fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Battery</a>
        <a class="list-group-item" href="/Amazon/Search/?search=beer"><i class="fa fa-beer fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Beer</a>
    </div>
    <div class="col-xs-6 list-group">
        <a class="list-group-item" href="/Amazon/Search/?search=spyglass"><i class="fa fa-binoculars fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Spy glass</a>
        <a class="list-group-item" href="/Amazon/Search/?search=calculator"><i class="fa fa-calculator fa-fw fa-5x" aria-hidden="true"></i>&nbsp; Calculator</a>
    </div>
</div>